.base-body {
   margin-left: 20px;
   margin-right: 20px;
}

nav.base-header {
  display: flex;
  flex-direction: row;
  min-width: 100%;
}

div.nav-empty-space {
  flex-grow: 1;
}

a.nav-button {
  margin: 0.2rem;
}

ul {
  list-style-type: none;
  width: 500px;
  margin: 0;
  padding: 0;
}

.textbox {
  width: 300px;
  height: 30px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.searchresult {
  float: left;
  max-width:100%;
  height:auto;
  object-fit: cover;
  padding: px
}

.profilepicture{
  float: left;
  max-width:500px;
  height:auto;
  object-fit: cover;
}

.home-logo {
  max-width: 300px;
  object-fit: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.userimgs{
  max-width:300px;
  height:auto;
  object-fit: cover;
}

.userdetailpic{
  max-width:500px;
  height:auto;
  object-fit: cover;
}

.faves{
  max-width:300px;
  height:auto;
  object-fit: cover;
  display: flex;
  Flex-direction: column;
}

.messageimgs{
  max-width:300px;
  height:auto;
  object-fit: cover;
}

.following{
  max-width:300px;
  height:auto;
  object-fit: cover;
}

.businessdetail{
  max-width:500px;
  height:auto;
  object-fit: cover;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li:hover {
  background: #eee;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.profile-container {
  display: flex;
  Flex-direction: column;
  inline-size: 400px; 
  padding: 10px;
}

.user-detail-container {
  display: flex;
  Flex-direction: column;
  inline-size: 400px; 
  padding: 10px;
}


.reviews {
  inline-size: 600px; 
}


.locationerror{
  color: red;
  border: 2px solid red
}
