<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phoodie</title>
</head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/stylesheet/style.css">
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/popper"></script>
<script src="https://unpkg.com/bootstrap"></script>

<link rel="stylesheet"
href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="base-body">
  <nav class="base-header">
    {% if not g.user %}
      <div class="nav-empty-space"></div>
      <a href="/login" class="btn btn-outline-secondary nav-button">Login</a>
      <a href="/signup" class="btn btn-outline-secondary nav-button">Sign Up</a>
    {% else %}
      <a href="/" class="btn btn-outline-secondary nav-button">Home</a>
      <a href="/profile" class="btn btn-outline-secondary nav-button">Profile</a>
      <a href="/users" class="btn btn-outline-secondary nav-button">Foodies</a>
      <a href="/favorites" class="btn btn-outline-secondary nav-button">Favorites</a>
      <a href="/following"  Class="btn btn-outline-secondary nav-button">Following</a>
      <a href="/messages"  Class="btn btn-outline-secondary nav-button">Messages</a>
      <div class="nav-empty-space"></div>
      <a href="/logout" class="btn btn-outline-secondary nav-button">Logout</a>
    {% endif %}
  </nav>
<body>


{% block content %}
{% endblock %}

