{% extends 'base.html' %}
{% block content %}


<h1>  MY BIO </h1>


<div class= "profile-container">
<img class="profilepicture" src="{{ user.image_url }}"/>

<br>


<li><b> Username:</b> {{user.username}}</li> 
<li><b>Email:</b> {{user.email}}</li>
<li><b>Bio:</b> {{user.bio}}</li>
<li><b>Location:</b> {{user.location}}</li>

<br>
 
<form>
    <button formaction="/profile/update" formmethod="GET" class="btn btn-outline-primary">Edit Profile</button>
</form>


</div>

{% endblock %}