{% extends 'base.html' %}
{% block content %}



<div class= "user-detail-container">

<img class= "userdetailpic" src="{{user["image_url"]}}">


<li> <b> Username:  </b> : {{user.username}} </li>
<li><b> Email: </b> {{user.email}}</li>
<li><b> Bio:</b> {{user.bio}}

<br>

</div>

{%if user.id in following_ids%}

<a href="/users/unfollow/{{ user.id }}" class="btn btn-outline-secondary"> unfollow  </a>

{%else%}

<a href="/users/follow/{{ user.id }}" class="btn btn-outline-secondary"> follow </a>

{%endif%}





{% endblock %}